@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&family=Roboto+Mono&display=swap');

:root {
    --primary:#3155e7 ;
    --primary-dark:#2045d6;
    --black: #010101;
    --grey-1: #788190;
    --grey-2: #d3d4db;
    --white: #ffffff;
    --body: #fefefe;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: var(--body);
}

.btn {
    border-radius: 8px;
}

.btn-primary,
.btn-outline-secondary {
    padding: 12px 20px;
}

.btn-primary {
    background-color: var(--primary);
}

.btn-primary:hover {
    background-color: var(--primary-dark);
}

.btn-outline-secondary {
    
}